/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #3a3b3c;
  color: #f2f2f2;
  font: 400 20px 'Lato', sans-serif;
}

.header {
  flex: 0 0 80px;
  background-color: #0c0c0e;
}

.header-content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 25px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.api {
  display: inline-block;
  font: 400 25px 'Lato', sans-serif;
  margin-right: 20px;
  min-width: 146px;
}

.form {
  flex: 1 1 500px;
  position: relative;
}

.button {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 5px;
  top: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.3s;
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    scale: 0.8;
  }
}

.search-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input {
  height: 30px;
  border-radius: 15px;
  padding: 0 15px 0 40px;
  font: 400 18px 'Lato', sans-serif;
  min-width: 70%;
}

@media (max-width: 900px) {
  .input {
    min-width: 90%;
  }
}

.main {
  max-width: 1440px;
  padding: 20px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 2vw;
}

.footer {
  flex: 0 0 120px;
  background-color: #0c0c0e;
}

.footer-content {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rs-link {
  flex: 0 0 140px;
  height: 80px;
  overflow: hidden;
}

.rs-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}

.year {
  font-size: 28px;
  letter-spacing: 1px;
}

.github-link {
  flex: 0 0 140px;
  height: 80px;
  overflow: hidden;
}

.github-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s;
}

.rs-logo:hover {
  opacity: 0.5;
}

.github-logo:hover {
  opacity: 0.5;
}

@media (min-width: 924px) {
  .main {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .header {
    flex: 0 0 60px;
  }

  .header-content {
    padding: 15px 20px;
  }

  .api {
    font-size: 16px;
    min-width: 100px;
  }

  .button {
    height: 16px;
    width: 16px;
    top: 6px;
  }

  .input {
    height: 20px;
    padding-left: 25px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 90%;
  }

  .main {
    padding: 5px;
  }
}

@media (max-width: 440px) {
  .main {
    padding: 1px;
  }
}

@media (max-width: 740px) {
  .footer {
    flex: 0 0 90px;
  }

  .rs-link {
    flex-basis: 90px;
    height: 50px;
  }

  .github-link {
    flex-basis: 90px;
    height: 50px;
  }

  .year {
    font-size: 20px;
  }
}

@media (max-width: 1276px) {
  .main {
    justify-content: space-evenly;
  }
}

@media (max-width: 874px) {
  .main {
    justify-content: center;
  }
}
