* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  background-color: #554444;
  box-sizing: border-box;
}

.all-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  background-color: beige;
}

.board span {
  display: inline-block;
  width: 30px;
  height: 30px;
}

span.body {
  background-color: #0300df;
  border: 1px solid black;
}

span.target {
  background-color: #ffa500;
}

.button-wrapper,
.score-wrapper {
  width: 480px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-text {
  padding: 10px;
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
  border-radius: 5px;
  background-color: beige;
}

.score {
  display: inline-block;
  margin-left: 5px;
  min-width: 30px;
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

.button-start,
.button-results {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
  background-color: beige;
  transition: all 0.8s;
}

.button-results {
  margin-left: 50px;
}

.button-start:hover,
.button-results:hover {
  cursor: pointer;
  background-color: limegreen;
}

.footer {
  width: 100%;
  flex: 0 0 100px;
  background-color: #000000;
}
