/* fonts Inter & Forum */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Header styles start */
.header {
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

.header__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0c0c0e;
  padding: 20px;
}

.header__main-text {
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.header__nav-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__item {
  margin-right: 30px;
  font: 400 20px/50px 'Inter', sans-serif;
  line-height: 50px;
}
.header__item a {
  color: #ffffff;
  transition: all 0.3s;
}

.header__item a:hover {
  color: #bb945f;
  text-decoration: underline;
}

.header__profile-image {
  margin-left: 11px;
}
/* Header styles end */

/* Welcome styles start */
.welcome {
  height: 600px;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
}

.welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-top: 220px;
}

.welcome__overlay {
  width: 1440px;
  box-sizing: border-box;
  height: 300px;
  position: absolute;
  top: 90px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__content {
  width: 600px;
  padding: 35px 40px;
  text-align: center;
  font: 400 40px/50px 'Forum', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0c0c0e;
  position: absolute;
  top: 310px;
  z-index: 5;
}
/* Welcome styles end */

/* Main styles start */
.main {
  background-color: #ffffff;
}
.main__wrapper {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
}
/* Main styles end */

/* About styles start */
.about {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.section-heading {
  text-align: center;
  font: 400 40px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.section-heading__underscore {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  border-bottom: 1px solid #0c0c0e;
}

.section-paragraph {
  margin-top: 40px;
  text-align: center;
  font: 400 20px/40px 'Inter', sans-serif;
}

.about__slider {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.about__pagination {
  margin: 35px auto 16px;
  height: 26px;
  width: 78px;
  display: flex;
  justify-content: space-between;
}

.about__pagination-button {
  flex-basis: 26px;
  flex-shrink: 0;
}

.about__pagination-button:hover {
  cursor: pointer;
}

.about__circle {
  width: 16px;
  height: 16px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: #0c0c0e;
}

.about__pagination-button:first-child .about__circle {
  background-color: #bb945f;
}
/* About styles end */

/* Favorites styles start */
.favorites {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

p.favorites__choose {
  font: 700 20px 'Inter', sans-serif;
  margin-top: 40px;
}

.favorites__selector-area {
  margin-top: 40px;
  margin-left: -8px;
  margin-bottom: 30px;
}

.favorites__selector {
  display: inline-flex;
  width: 120px;
  align-items: flex-start;
}

.favorites__selector:first-child {
  margin-right: 70px;
}

.favorites__selector:nth-child(2) {
  margin-right: 65px;
}

.favorites__selector:nth-child(3) {
  margin-right: 82px;
}

input.favorites__input {
  display: none;
}

.favorites__label {
  font: 400 20px 'Inter', sans-serif;
  display: inline-block;
  margin-top: -3px;
  padding: 5px 5px 5px 15px;
  /*align-self: flex-start;*/
}

.favorites__push-area {
  display: inline-block;
  align-self: flex-end;
}

.favorites__circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
}

.favorites__disk {
  display: block;
  width: 7px;
  height: 7px;
  margin: 3px auto;
  border-radius: 50%;
}

input:checked + .favorites__push-area .favorites__disk {
  background-color: #000000;
}

input:checked + label + label.favorites__label {
  font-weight: 700;
}

.favorites__push-area:hover {
  cursor: pointer;
}

.favorites__label:hover {
  cursor: pointer;
}

.favorites__books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites__book-card {
  height: 555px;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-right: 40px;
  flex-basis: 550px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 13px 170px 50px 19px;
  border: 1px solid #000000;
}

.favorites__book-card {
  display: none;
}

.favorites__book-card.winter {
  display: block;
}

.favorites__subheading {
  font: 400 20px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
}

.favorites__underscore {
  width: 60px;
  border-bottom: 1px solid #bb945f;
  margin-bottom: 20px;
}

.favorites__title-author {
  margin-bottom: 20px;
}

.favorites__title {
  font: 700 15px 'Inter', sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.favorites__author {
  font: 700 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
}

.favorites__book-description {
  width: 357px;
  font: 400 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__button {
  width: 75px;
  height: 30px;
  position: absolute;
  bottom: 14px;
  left: 19px;
  text-align: center;
  font: 700 10px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.5s;
}

.favorites__button.own {
  color: #bb945f;
  border: 1px solid #bb945f;
}

.favorites__button span:first-child {
  display: block;
}

.favorites__button span:last-child {
  display: none;
}

.favorites__button.own span:first-child {
  display: none;
}

.favorites__button.own span:last-child {
  display: block;
}

.favorites__button:hover {
  cursor: pointer;
  background-color: #bb945f;
}

.favorites__button.own:hover {
  cursor: default;
  background-color: #ffffff;
}

.favorites__book-image {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  right: -41px;
}

.favorites__book-image img {
  object-fit: contain;
}
/* Favorites styles end */

/* Coffee Shop styles start */
.shop {
  padding: 0px 20px 40px;
}

.section-paragraph.shop__p {
  letter-spacing: 2px;
  padding: 0px 16px;
  margin-bottom: 40px;
}

.shop__menu {
  display: flex;
  justify-content: space-between;
}

.shop__beverages {
  flex-basis: 460px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop__menu-heading {
  font: 400 40px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
  color: #bb945f;
}

.shop__menu-heading.right-side {
  text-align: end;
}

.shop__menu-item {
  height: 40px;
  margin-top: 40px;
}

.shop__drink {
  display: inline-block;
  width: 199px;
  margin-right: 55px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
}

.shop__line {
  display: inline-block;
  width: 100px;
  margin-bottom: 6px;
  margin-right: 55px;
  border-bottom: 1px solid #bb945f;
}

.shop__price {
  display: inline-block;
  font: 400 20px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
}

.shop__food {
  display: inline-block;
  width: 214px;
  margin-right: 55px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-align: end;
}
/* Coffee Shop styles end */

/* Contacts styles start */
.contacts {
  padding: 20px 20px 40px;
}

.contacts .section-heading {
  margin-top: 2px;
}

.contacts__heading {
  margin-bottom: 40px;
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__data {
  padding-right: 199px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize
}

.contacts__p-main {
  font-weight: 700;
}

.contacts__p-main:first-child {
  margin-bottom: 40px;
}

.contacts__p-secondary {
  margin-bottom: 20px;
}

.contacts__p-secondary:nth-child(4) {
  margin-bottom: 40px;
}

.contacts__p-main:nth-child(5) {
  margin-bottom: 20px;
}

.contacts__p-secondary a {
  color: #000000;
}

.contacts__director {
  font-weight: 700;
  padding-bottom: 34px;
}
/* Contacts styles end */

/* Library card styles start */
.card {
  padding: 15px 20px 40px;
}

.card__underscore {
  margin-top: 2px;
  margin-bottom: 40px;
}

.card__cards {
  display: flex;
  justify-content: space-between;
}

.card__find-card {
  flex-basis: 601px;
  flex-grow: 0;
}
.card__subheading {
  margin-bottom: 30px;
  text-align: center;
  font: 400 30px 'Inter', sans-serif;
  letter-spacing: 0.6px;
}

.card__card-body {
  box-sizing: border-box;
  width: 600px;
  height: 386px;
  border: 3px solid #bb945f;
  padding: 17px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__background {
  height: 272px;
  background-color: #bb945f;
  padding: 20px;
  margin-bottom: 20px;
}

.card__paragraph {
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.card__input {
  display: block;
  height: 66px;
  width: 100%;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  color: #bb945f;
}

.card__submit {
  display: block;
  box-sizing: border-box;
  width: 242px;
  margin: 0 auto;
  padding: 9px 38px;
  text-align: center;
  font: 700 20px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: #0c0c0e;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.5s;
}

.card__submit:hover {
  cursor: pointer;
  background-color: #bb945f;
}

.card__get-card {
  flex-basis: 456px;
  height: 253px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: #ffffff;
}

.card__firstline {
font: 400 30px 'Forum', sans-serif;
letter-spacing: 0.6px;
}

.card__secondline {
font: 400 20px/40px 'Inter', sans-serif;
letter-spacing: 0.4px;
text-align: right;
}

.card__button {
  width: 75px;
  height: 30px;
  bottom: 14px;
  left: 19px;
  text-align: center;
  font: 700 10px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  transition: all 0.5s;
}

.card__button:first-child {
  margin-right: 15px;
}

.card__button:hover {
  background-color: #bb945f;
  cursor: pointer;
}
/* Library card styles end */

/* Footer styles start */
.footer {
  height: 250px;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  transition: all 0.3s;
}

.footer a:hover{
  color: #bb945f;
  text-decoration: underline;
}

.footer__wrapper {
  background-color: #0c0c0e;
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0px;
}

.footer__first-line {
  display: flex;
  justify-content: space-between;
  font: 400 15px/20px 'Inter', sans-serif;
  margin-bottom: 10px;
}


.footer__address {
  flex-basis: 229px;
  flex-grow: 0;
}
.footer__address-link {
  display: block;
  flex-basis: 229px;
  flex-grow: 0;
}

.footer__schedule {
  flex-basis: 149px;
  flex-grow: 0;
  text-align: right;
}

.footer__second-line {
display: flex;
justify-content: space-between;
font: 400 15px/20px 'Inter', sans-serif;
margin-bottom: 30px;
}

.footer__social {
  width: 102px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  list-style-type: none;
  padding-top: 6px;
}

.footer__underscore {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.footer__bottom-section {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 400 20px 'Inter', sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer__bottom-section a {
color: #ffffff;
transition: all 0.3s;
}

.footer__bottom-section a:hover {
color: #bb945f;
text-decoration: underline;
}

.footer__school {
  padding-left: 80px;
}
/* Footer styles end */