/* fonts Inter & Forum */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Header styles start */
.header {
  width: 100%;
  background: #0c0c0e;
  box-sizing: border-box;
  color: #ffffff;
}

.header__wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__main-text {
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.header__nav-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__item {
  margin-right: 30px;
  font: 400 20px/50px 'Inter', sans-serif;
  line-height: 50px;
}

.header__profile-image {
  margin-left: 11px;
}
/* Header styles end */

/* Welcome styles start */
.welcome {
  height: 600px;
  background: url('./img/welcome-bg.jpeg');
  background-position: 0 center;
  background-size: 101%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.welcome__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-top: 220px;
}

.welcome__overlay {
  width: 100%;
  box-sizing: border-box;
  height: 300px;
  position: absolute;
  top: 90px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__content {
  width: 520px;
  padding: 35px 40px;
  text-align: center;
  font: 400 40px/50px 'Forum', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: black;
}
/* Welcome styles end */

/* Main styles start */
.main {
  background-color: #ffffff;
}
.main__wrapper {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
}
/* Main styles end */

/* About styles start */
.about {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.section-heading {
  text-align: center;
  font: 400 40px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.section-heading__underscore {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  border-bottom: 1px solid #0c0c0e;
}

.about p {
  margin-top: 40px;
  text-align: center;
  font: 400 20px/40px 'Inter', sans-serif;
}

.about__slider {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.about__pagination {
  margin: 35px auto 16px;
  height: 26px;
  width: 78px;
  display: flex;
  justify-content: space-between;
}

.about__pagination-button {
  flex-basis: 26px;
  flex-shrink: 0;
}

.about__pagination-button:hover {
  cursor: pointer;
}

.about__circle {
  width: 16px;
  height: 16px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: #0c0c0e;
}

.about__pagination-button:first-child .about__circle {
  background-color: #bb945f;
}
/* About styles end */

/* Favorites styles start */
.favorites {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

p.favorites__choose {
  font: 700 20px 'Inter', sans-serif;
  margin-top: 40px;
}

.favorites__selector-area {
  margin-top: 40px;
  margin-left: -8px;
  margin-bottom: 30px;
}

.favorites__selector {
  display: inline-flex;
  width: 120px;
  align-items: flex-start;
  margin-right: 72px;
}

input.favorites__input {
  display: none;
}
.favorites__label {
  font: 400 20px 'Inter', sans-serif;
  display: inline-block;
  margin-top: -3px;
  padding: 5px;
  /*align-self: flex-start;*/
}

.favorites__push-area {
  display: inline-block;
  margin-right: 10px;
  align-self: flex-end;
}
.favorites__circle {
  width: 17px;
  height: 17px;
  margin: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
}

.favorites__disk {
  width: 7px;
  height: 7px;
  margin: 3px auto;
  border-radius: 50%;
}

input:checked + .favorites__label-input .favorites__disk {
  background-color: #000000;
}

input:checked + label + label.favorites__label {
  font-weight: 700;
}

.favorites__label-input:hover {
  cursor: pointer;
}

.favorites__label:hover {
  cursor: pointer;
}

.favorites__books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites__book-card {
  height: 555px;
  flex-basis: 550px;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-right: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 15px 175px 15px 20px;
  border: 1px solid #000000;
}

.favorites__subheading {
  font: 400 20px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
}
.favorites__underscore {
  width: 60px;
  border-bottom: 1px solid #bb945f;
  margin-bottom: 20px;
}

.favorites__title-author {
}

.favorites__title {
  font: 700 15px 'Inter', sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.favorites__author {
  font: 700 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
}
.favorites__book-description {
  margin-top: 20px;
  width: 355px;
  font: 400 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites__buy-button {
  width: 75px;
  height: 30px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  text-align: center;
  font: 700 10px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
}
.favorites__buy-button:hover {
  cursor: pointer;
}
.favorites__book-image {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  right: -40px;
}
.favorites__book-image img {
  object-fit: contain;
}
/* Favorites styles end */