/* fonts Inter & Forum */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

:root {
  --color-dark: #000000;
  --color-secondary-dark: #0c0c0e;
  --color-active: #bb945f;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-active);
}

html {
  scroll-behavior: smooth;
}

/* Header styles start */
.header {
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-secondary-dark);
  padding: 20px;
}

.header__main-text {
  flex-basis: 295px;
  flex-shrink: 0;
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.header__nav-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__item {
  margin-right: 30px;
  font: 400 20px/50px 'Inter', sans-serif;
  line-height: 50px;
}


.header__item a {
  color: #ffffff;
  transition: all 0.3s;
}

@media(hover:hover) {
  .header__item a:hover {
    color: var(--color-active);
    text-decoration: underline;
  }
}

.header__profile-image {
  margin-left: 11px;
}


.header__burger-menu {
  display: none;
}

.header__burger-line-first {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.header__burger-line-second {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.header__burger-menu::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.header__burger-menu::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.5s;
}

@media (max-width:1440px) {
  .header__item {
    margin-right: calc(20px + (30 - 20) * ((100vw - 1024px)/(1440 - 1024)));
  }
} 

@media(max-width: 1024px) {
  .header__burger-menu {
    display: inline-block;
    width: 45px;
    height: 22px;
    position: relative;
    margin-left: 35px;
    margin-bottom: 3px;
  }
  
  .header__nav-and-profile {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    padding: 30px 20px 0;
    width: 332px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    transition: all 0.5s;
  }
  
  .header__list {
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120%;
    transition: all 0.5s;
  }

  .header__item {
    margin: 0 0 30px 0;
  }

  .header__item:first-child {
    margin-top: 38px;
  }

  .header__nav-and-profile.active {
    height: 570px;
    background-color: var(--color-secondary-dark);
  }
  
  .header__nav-and-profile.active .header__list{
    bottom: 0;
    left: 0;
}
    
  .header__logo-burger {
    align-self: flex-end;
  }

  .active .header__burger-menu::before {
    display: none;
  }

  .active .header__burger-menu::after {
    display: none;
  }

  .active .header__burger-line-first {
    transform: rotate(45deg);
  }
  
  .active .header__burger-line-second {
    transform: rotate(-45deg);
  }
}
/* Header styles end */

/* Welcome styles start */
.welcome {
  height: 600px;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
}

.welcome img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.welcome__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-top: 220px;
}

.welcome__overlay {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  height: 300px;
  position: absolute;
  top: 90px;
  background: linear-gradient(180deg, var(--color-secondary-dark) 0%, var(--color-secondary-dark) 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__content {
  width: 600px;
  padding: 35px 40px;
  text-align: center;
  font: 400 40px/50px 'Forum', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--color-secondary-dark);
  position: absolute;
  top: 310px;
  z-index: 2;
}
/* Welcome styles end */

/* Main styles start */
.main {
  background-color: #ffffff;
}
.main__wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}
/* Main styles end */

/* About styles start */
.about {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: var(--color-dark);
}

.section-heading {
  text-align: center;
  font: 400 40px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
  color: var(--color-secondary-dark);
}

.section-heading__underscore {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  border-bottom: 1px solid var(--color-secondary-dark);
}

.section-paragraph {
  margin-top: 40px;
  text-align: center;
  font: 400 20px/40px 'Inter', sans-serif;
}

.about__slider {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: min(35px, calc(20px + (35 - 20) * ((100vw - 768px)/(1440 - 768))));
}

.about__slider-arrow {
  align-self: center;
  flex: 0 0 24px;
  padding: 4px 8px;
  display: none;
  position: relative;
  top: 22px;
  transition: all 0.3s;
}

.about__slider-arrow img {
  display: inline-block;
  margin: 0;
}

@media(hover:hover) {
  .about__slider-arrow:hover {
    cursor: pointer;
    background-color: var(--color-active);
  }
}

.slide-4 {
  display: none;
}

.slide-5 {
  display: none;
}


.about__pagination {
  margin: 0 auto 16px;
  height: 26px;
  display: flex;
  justify-content: center;
}

.about__pagination-button {
  flex-basis: 26px;
  flex-shrink: 0;
}

.about__pagination-button-4 {
  display: none;
}

.about__pagination-button-5 {
  display: none;
}

@media(hover:hover) {
  .about__pagination-button:hover {
    cursor: pointer;
  }
}

.about__circle {
  width: 16px;
  height: 16px;
  margin: 5px auto;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
}

.about__pagination-button:first-child .about__circle {
  background-color: var(--color-active);
}

@media(max-width: 1400px) {
  .about__slider-arrow {
    display: block;
  }
  
  .slide-3 {
    display: none;
  }
  
  .about__slider {
    justify-content: space-evenly;
  }

  .about__pagination-button-4 {
    display: block;
  }
}

@media(max-width: 1024px) {
  .slide-2 {
    display: none;
  }
  
  .about__pagination-button-5 {
    display: block;
  }
}
/* About styles end */

/* Favorites styles start */
.favorites {
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  color: var(--color-dark);
}

p.favorites__choose {
  font: 700 20px 'Inter', sans-serif;
  margin-top: 40px;
}

.favorites__selector-area {
  margin-top: 40px;
  margin-left: -8px;
  margin-bottom: 30px;
}

.favorites__selector {
  display: inline-flex;
  width: 120px;
  align-items: flex-start;
}

.favorites__selector:first-child {
  margin-right: 70px;
}

.favorites__selector:nth-child(2) {
  margin-right: 65px;
}

.favorites__selector:nth-child(3) {
  margin-right: 82px;
}

@media(max-width: 767px) {
  .favorites__selector:first-child {
    margin-right: calc(20px + (70 - 20) * ((100vw - 600px)/(768 - 600)));
  }
  
  .favorites__selector:nth-child(2) {
    margin-right: calc(20px + (65 - 20) * ((100vw - 600px)/(768 - 600)));
  }
  
  .favorites__selector:nth-child(3) {
    margin-right: calc(20px + (82 - 20) * ((100vw - 600px)/(768 - 600)));
  }
}

input.favorites__input {
  display: none;
}

.favorites__label {
  font: 400 20px 'Inter', sans-serif;
  display: inline-block;
  margin-top: -3px;
  padding: 5px 5px 5px 15px;
}

.favorites__push-area {
  display: inline-block;
  align-self: flex-end;
}

.favorites__circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid var(--color-dark);
}

.favorites__disk {
  display: block;
  width: 7px;
  height: 7px;
  margin: 3px auto;
  border-radius: 50%;
}

input:checked + .favorites__push-area .favorites__disk {
  background-color: var(--color-dark);
}

input:checked + label + label.favorites__label {
  font-weight: 700;
}

@media(hover:hover) {
  .favorites__push-area:hover {
    cursor: pointer;
  }
  
  .favorites__label:hover {
    cursor: pointer;
  }
}

.favorites__books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites__book-card {
  height: 555px;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 5px;
  flex-basis: 550px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  padding: 13px 170px 50px 19px;
  border: 1px solid var(--color-dark);
}

.favorites__book-card {
  display: none;
}

.favorites__book-card.winter {
  display: block;
}

.favorites__subheading {
  font: 400 20px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
}

.favorites__underscore {
  width: 60px;
  border-bottom: 1px solid var(--color-active);
  margin-bottom: 20px;
}

.favorites__title-author {
  margin-bottom: 20px;
}

.favorites__title {
  font: 700 15px 'Inter', sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.favorites__author {
  font: 700 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
}

.favorites__book-description {
  width: 357px;
  font: 400 15px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__button {
  width: 75px;
  height: 30px;
  position: absolute;
  bottom: 14px;
  left: 19px;
  text-align: center;
  font: 700 10px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: var(--color-secondary-dark);
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid var(--color-secondary-dark);
  transition: all 0.5s;
}

.favorites__button.own {
  color: var(--color-active);
  border: 1px solid var(--color-active);
}

.favorites__button span:first-child {
  display: block;
}

.favorites__button span:last-child {
  display: none;
}

.favorites__button.own span:first-child {
  display: none;
}

.favorites__button.own span:last-child {
  display: block;
}

@media(hover:hover) {
  .favorites__button:hover {
    cursor: pointer;
    background-color: var(--color-active);
    border: 1px solid var(--color-active);
  }
  
  .favorites__button.own:hover {
    cursor: default;
    background-color: #ffffff;
  }
}

.favorites__book-image {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  right: -41px;
}

.favorites__book-image img {
  object-fit: contain;
}

@media (max-width: 1229px) {
  .favorites__books-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .favorites__book-card {
    flex-basis: 555px;
    width: 550px;
    margin: 0 0 40px -40px;
  }
  
}
/* Favorites styles end */

/* Coffee Shop styles start */
.shop {
  padding: 0px 20px 40px;
}

.section-paragraph.shop__p {
  letter-spacing: 1.94px;
  padding: 0px calc(16 * ((100vw - 768px)/(1440 - 768)));
  margin-bottom: 40px;
}

.shop__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop__beverages {
  flex-basis: 460px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop__meals {
  flex-basis: 482px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.shop__menu-heading {
  font: 400 40px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
  color: var(--color-active);
}

.shop__menu-heading.right-side {
  text-align: end;
}

.shop__menu-item {
  height: 40px;
  margin-top: 40px;
}

.shop__drink {
  display: inline-block;
  width: 199px;
  margin-right: 55px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
}

.shop__line {
  display: inline-block;
  width: 100px;
  margin-bottom: 6px;
  margin-right: 55px;
  border-bottom: 1px solid var(--color-active);
}

.shop__price {
  display: inline-block;
  font: 400 20px/40px 'Forum', sans-serif;
  letter-spacing: 2px;
}

.shop__food {
  display: inline-block;
  width: 214px;
  margin-right: 55px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-align: end;
}

@media(max-width: 981px) {
  .shop__menu {
    flex-direction: column;
  }

  .shop__meals {
    align-self: flex-end;
  }
}
/* Coffee Shop styles end */

/* Contacts styles start */
.contacts {
  padding: 20px 20px 40px;
}

.contacts .section-heading {
  margin-top: 2px;
}

.contacts__heading {
  margin-bottom: 40px;
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__data {
  padding-right: 199px;
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts__p-main {
  font-weight: 700;
}

.contacts__p-main:first-child {
  margin-bottom: 40px;
}

.contacts__p-secondary {
  margin-bottom: 20px;
}

.contacts__p-secondary a {
  transition: all 0.3s;
}

@media(hover:hover) {
  .contacts__p-secondary a:hover {
    color: var(--color-active);
    text-decoration: underline;
  }
}

.contacts__p-secondary:nth-child(4) {
  margin-bottom: 40px;
}

.contacts__p-main:nth-child(5) {
  margin-bottom: 20px;
}

.contacts__p-secondary a {
  color: var(--color-dark);
}

.contacts__director {
  font-weight: 700;
  padding-bottom: 34px;
}
@media(max-width: 1439px) {
  .contacts__p-secondary:last-child {
    margin-bottom: 100px;
  }
}

@media(max-width: 800px) {
  .contacts__data {
    flex: 1 1 auto;
    padding-right: 0;
  }
}
/* Contacts styles end */

/* Library card styles start */
.card {
  padding: 15px 20px 40px;
}

.card__underscore {
  margin-top: 2px;
  margin-bottom: 40px;
}

.card__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__find-card {
  flex-basis: 601px;
  flex-grow: 0;
  margin-bottom: 21px;
}
.card__subheading {
  margin-bottom: 30px;
  text-align: center;
  font: 400 30px 'Inter', sans-serif;
  letter-spacing: 0.6px;
}

.card__card-body {
  box-sizing: border-box;
  width: 600px;
  height: 386px;
  border: 3px solid var(--color-active);
  padding: 17px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__background {
  height: 272px;
  background-color: var(--color-active);
  padding: 20px;
  margin-bottom: 20px;
}

.card__paragraph {
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.card__input {
  display: block;
  height: 66px;
  width: 100%;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  font: 400 30px/50px 'Forum', sans-serif;
  letter-spacing: 0.6px;
  color: var(--color-active);
}

.card__submit {
  display: block;
  box-sizing: border-box;
  width: 242px;
  margin: 0 auto;
  padding: 9px 38px;
  text-align: center;
  font: 700 20px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: var(--color-secondary-dark);
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid var(--color-secondary-dark);
  transition: all 0.5s;
}

@media(hover:hover) {
  .card__submit:hover {
    cursor: pointer;
    background-color: var(--color-active);
    border: 1px solid var(--color-active);
  }
}

.card__get-card {
  flex-basis: 456px;
  height: 253px;
  flex-grow: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: #ffffff;
}

.card__firstline {
  font: 400 30px 'Forum', sans-serif;
  letter-spacing: 0.6px;
}

.card__secondline {
  font: 400 20px/40px 'Inter', sans-serif;
  letter-spacing: 0.4px;
  text-align: right;
}

.card__button {
  width: 75px;
  height: 30px;
  bottom: 14px;
  left: 19px;
  text-align: center;
  font: 700 10px 'Inter', sans-serif;
  letter-spacing: 1px;
  color: var(--color-secondary-dark);
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid var(--color-secondary-dark);
  transition: all 0.5s;
}

.card__button:first-child {
  margin-right: 15px;
}

@media(hover:hover) {
  .card__button:hover {
    background-color: var(--color-active);
    border: 1px solid var(--color-active);
    cursor: pointer;
  }
}

@media(max-width: 1096px) {
  .card__cards {
    justify-content: center;
  }

  .card__get-card {
    max-height: 223px;
    align-items: center;
    background: #ffffff;
  }

  .card__secondline {
    text-align: center;
  }
}
/* Library card styles end */

/* Footer styles start */
.footer {
  height: 250px;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  transition: all 0.3s;
}


.footer__wrapper {
  background-color: var(--color-secondary-dark);
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 0px;
}

.footer__first-line {
  display: flex;
  justify-content: space-between;
  font: 400 15px/20px 'Inter', sans-serif;
  margin-bottom: 10px;
}

.footer__address {
  flex-basis: 229px;
  flex-grow: 0;
}

.footer__address-link {
  display: block;
  flex-basis: 229px;
  flex-grow: 0;
}

.footer__schedule {
  flex-basis: 149px;
  flex-grow: 0;
  text-align: right;
}

.footer__second-line {
  display: flex;
  justify-content: space-between;
  font: 400 15px/20px 'Inter', sans-serif;
  margin-bottom: 30px;
}

.footer__social {
  width: 102px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  list-style-type: none;
  padding-top: 6px;
}

.footer__underscore {
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.footer__bottom-section {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 400 20px 'Inter', sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer__bottom-section a {
  color: #ffffff;
  transition: all 0.3s;
}

@media(hover:hover) {
  .footer a:hover{
    color: var(--color-active);
    text-decoration: underline;
  }

  .footer__bottom-section a:hover {
    color: var(--color-active);
    text-decoration: underline;
  }
}

.footer__school {
  padding-left: calc(20px + (80 - 20) * ((100vw - 768px)/(1440 - 768)));
}
/* Footer styles end */