/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  text-decoration: none;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #5a5a5a;
  font: 400 18px 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img.body-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.player {
  width: 350px;
  padding: 25px 30px;
  background-color: #f2f2f2;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.player__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.heading {
  flex-basis: 70px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
}

.ready.active {
  max-width: 100%;
  opacity: 1;
}

.playing {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 2s;
}

.paused {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 2s;
}

.playing.active {
  max-width: 100%;
  opacity: 1;
}

.paused.active {
  max-width: 100%;
  opacity: 1;
}

.image-container {
  margin: 20px auto;
  height: 250px;
  width: 250px;
  box-shadow: 6px 6px 10px -1px rgba(84, 84, 84, 0.5);
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.song-name,
.artist-name {
  min-height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  color: #333333;
  text-align: center;
}

.artist-name {
  margin-bottom: 20px;
}

#track-progress {
  width: 100%;
  appearance: none;
  height: 6px;
  background-color: #1f618d;
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
}

#track-progress::-webkit-slider-thumb {
  appearance: none;
  background-color: #1f618d;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font: 400 14px 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #414141;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-panel span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 10px -1px rgba(84, 84, 84, 0.5),
    -6px -6px 10px -1px #ffffff;
}

.navigation-panel span:active {
  scale: 0.9;
  box-shadow: none;
}

span.active-color {
  background-color: #88ee88;
  box-shadow: none;
}

#previous:active,
#next:active {
  background-color: #88ee88;
}

.footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.link {
  transition: all 0.5s;
  border-radius: 5px;
}

.rs-school {
  flex: 0 0 48px;
  height: 20px;
  background-image: url(../assets/logo/rs_school_js.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.github {
  flex: 0 0 50px;
  height: 18px;
  background-image: url(../assets/logo/github.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (hover: hover) {
  .link:hover {
    scale: 1.3;
  }
}

.link:active {
  background-color: #88ee88;
}

.year {
  font: 700 14px 'Lato', sans-serif;
  letter-spacing: 1px;
}
